.bg-airplane {
    background-image: url('../public/images/backgrounds/bg-airplane.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
}

.bg-nosotros {
    background-image: url('../public/images/backgrounds/bg-nosotros.webp');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
}

.bg-footer {
    background-color: #2191d0;
}

.text-outline {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.text-shadow {
    text-shadow: 0px 0px 6px rgb(90, 90, 90);   
}