@font-face {
  font-family: 'Insanibu';
  src: url('../../public/fonts/insanibu/Insanibu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --celeste: #2191d0;
  --verde: #6cb332;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

*, html, body {
  font-family: Helvetica, sans-serif !important;
  font-weight: 200;
}

body {
  color: var(--foreground);
  background: var(--background);
}