.bg-airplane {
    background-image: url('../../public/images/backgrounds/bg-airplane.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
}

.bg-footer {
    background-color: #2191d0;
}

